body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    overflow: auto;
}

@media (max-width: 768px) {
    body {
        padding: 0px;
    }
}

.side {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: solid 1px #444;
    margin-left: auto;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    top: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .side {
        display: none;
    }
}

.side-sticky {
    position: sticky;
    top: 20px;
}

.content {
    padding: 40px 20px;
    margin-left: 0px;
    margin-right: auto;
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
    background-color: #444;
}

.article-header {
    margin-bottom: 30px;
}

.article-body {
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.05);
    border-radius: 10px;
    border: solid 1px #666;
    padding: 40px;
    background-color: rgb(47, 47, 47);
    padding: 40px;

}

@media (max-width: 768px) {
    .content {
        width: 100%;
        padding: 20px;
    }
}

.sidebar {
    top: 20px;
    left: 0px;
}

@media (max-width: 1260px) {
    .sidebar {
        display: none;
    }
}

.links {
    bottom: 0px;
    left: 0px;
}

@media (max-width: 1260px) {
    .links {
        display: none;
    }
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    /* ダークなテキスト色 */
    text-align: center;
}

h1,
h2 {
    color: #fff;
    /* ダークなテキスト色 */
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    padding-left: 10px;
    border-bottom: solid 1px #dddddd;
}

p {
    color: #ccc;
    margin-bottom: 10px;
}

a {
    color: #007bff;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
}

pre {
    padding: 10px;
    color: #fff;
    border: solid 1px #a8a8a8;
    background-color: #222;
    overflow-x: auto;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

.date {
    color: #ccc;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

.tag {
    color: #ccc;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

#toc {
    background-color: transparent;
    border-radius: 4px;
    padding: 15px;
    list-style: none;
    border-left: solid 1px #161616;
}

.toc_title {
    font-size: 20px;
    font-weight: bold;
    color: #e8e8e8;
}

#toc a {
    text-decoration: none;
    color: #5f5f5f;
    display: block;
    margin: 5px 0;
    transition: color 0.2s;
}

#toc a::before {
    content: "▶";
    margin-right: 5px;
}

#toc a:hover {
    color: #007bff;
}

#toc .active {
    font-weight: bold;
    color: #007bff;
    font-size: 16px;
}

.toc_H1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
}

.toc_H2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
}

.toc_H3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #007bff;
}

.content_list_h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: solid 1px #007bff;
    color: #007bff;
}

.content_list_h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.content_list_problem {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.badge {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    border: 1px solid #333;
    margin: 0 8px;
    float: left;
}

.runbutton,
.submitbutton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.runbutton {
    background-color: #007bff;
}

.runbutton:hover {
    background-color: #005580;
}

.submitbutton {
    background-color: #008000;
}

.submitbutton:hover {
    background-color: #006400;
}

.problem_title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.editor {
    width: 100%;
    height: 300px;
    font-size: 16px;
    font-family: monospace;
    background-color: #222;
    color: #fff;
    padding: 10px;
    border: solid 1px #a8a8a8;
}

.output,
.expect_out,
.sample_in,
.sample_out {
    width: 100%;
    padding: 5px 5px;
    overflow-x: auto;
    font-size: 16px;
    font-family: monospace;
    background-color: #222;
    color: #fff;
    border: solid 1px #a8a8a8;
}

.box-title,
.problem_list {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ccc;
}

.inline-code,
.code-block {
    font-family: monospace;
}

.success,
.info,
.warning,
.danger {
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.definition::before,
.theorem::before,
.proof::before,
.lemma::before {
    font-family: serif;
    font-size: large;
    font-weight: 600;
    font-style: italic;
    display: block;
}

.definition::before {
    content: "Definition.";
}

.theorem::before {
    content: "Theorem.";
}

.proof::before {
    content: "Proof.";
}

.lemma::before {
    content: "Lemma.";
}

.definition,
.theorem,
.proof,
.lemma {
    padding: 12px;
    border-left: 1px solid #444;
}

.proof::after {
    content: "∎";
    margin-left: auto;
    display: block;
}